[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
# python-coveralls = "*"

[requires]
python_version = "3.7"
