[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "~=1.6.5"
google-auth = "~=1.4.1"
google-auth-oauthlib = "~=0.2.0"
"google-auth-httplib2" = "~=0.0.3"

[dev-packages]
pytest = ">=3.4.2"
pytest-cov = ">=2.5.1"
pytest-mock = ">=1.7.1"
python-coveralls = ">=2.9.1"

[requires]
python_version = "3.5"
